* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
  --primary-color: #03263d;
  --secondary-color: #04856f;
  --complimentary-color: #03263d;
  --contrast-color: #F2E527;
  --light-color: #D2A9D9;
  }
  
  .container {
    background: #191919;
    min-height: 100vh;
    font-family: Montserrat, sans-serif;
    color: white;
  }
  
  nav a {
      color: #fff;
      text-decoration: none;
      padding: 20px;
      text-align: center;
  }
  
  nav {
      position: fixed;
      left: 0;
      z-index: 50;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      height: 100vh;
      background: var(--secondary-color);
  }
  
  section {
      position: absolute;
      top: 0;
      height: 100vh;
      width: 0;
      opacity: 0;
      transition: all ease-in .5s;
      display: flex;
      justify-content: center;
      align-items: center;
  } 
  
  section h1 {
      color: #fff;
      font-size: 50px;
      text-transform: uppercase;
      opacity: 0;
  }
  
  /* Styles applied on trigger */
  section:target {
      opacity: 1;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
  }
  
  section:target h1 {
      opacity: 0;
      animation: 2s fadeIn forwards .5s;
      
  }
  
  #first {
    background:var(--primary-color);
  
  }

  #second {
      background: var(--complimentary-color);
  }
  
  #third {
      background: var(--contrast-color);
  }
  
  #fourth {
      background: var(--light-color);
  }
  
  @keyframes fadeIn {
      100% { opacity:1 }
  }

label{
    font-size: 20px;
}
input{
    margin-top: 20px;
    padding: 10px;

}
/*registro titulo*/
.contact_form{
    display: inline-block;
}

table {    
    
     font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
       font-size: 12px;  
      margin: 15% 20%;   
      width: 480px; 
      text-align: left; 
      border-collapse: collapse;
      
 }
 table.comprar{
    margin: 15% 1%; 
 }
 
 .tabla-puntos{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;  
   margin: 15% -20PX;   
   width: 300px; 
   text-align: left; 
   border-collapse: collapse;
 }

th {    
     font-size: 13px; 
    font-weight: normal;  
    padding: 8px;  
   background: #b9c9fe;
    border-top: 4px solid #aabcfe;  
  border-bottom: 1px solid #fff; 
  color: #039; 
}

td {  
      padding: 8px;   
      background: #e8edff;   
      border-bottom: 1px solid #fff;
    color: #669;   
     border-top: 1px solid transparent;
 }

tr:hover td { background: #d0dafd;
             color: #339; }


/*titlo usuario registrado*/
.usuario{
    text-align: center;
    color: cornflowerblue;
    font-weight: bold;
    margin-top: 20px;
}
/*buton volver*/
.volver{
    margin-left: 40px;
}
#contact_form{
    margin-left:300px;
    margin-right:250px;
    
}


#contact_form-2{
    margin-top: 400px;
    margin-left: 0px;
}
.contenedor{
    float: right;
    margin-top: -300px;
}
.contenedor-2{
    float: left;
    margin-top: 200px;
    margin-left: -200px!important;
}
.puntos{
    margin-left: 300px;
    margin-right: 200px;
}
.row{
    display: flex;
    justify-content: space-between;
}
#submit_button-agregar{
    margin-right: 300px;
}
label{
    display: inline-block;
    width: 80px;
    margin-right: 20px;
  }

.icons{
    width: 37px;
    height: 37px;
}
